{% extends "base.html" %}
{% load static %}
{% block page %}

<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col">
                <h3>
                    <a href="{% url 'sample_app:task_details' task.id %}">Task {{ task.id }}</a>: {{ task.name }}
                </h3>
                <h5>Task Status: {{ task.status }} </h5> 
                <h5>Date Created: {{ task.date_created }} </h5>
                <h5>Created By: {{ task.created_by }} </h5>
                <!-- <button class="btn btn-danger">Close Task</button> -->
                <hr><hr>    
                <h3>
                    Response {{ response.id }}
                </h3>
                <h5>Response Status: {{ response.status }} </h5>
                <h5>Created By: {{ response.created_by }} </h5>
                <h5>Date created: {{ response.date_created }} </h5>
                <br>
                <br>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        {% if response.status == "Pending" or response.status == "Rejected" %}<button id="approve_response_btn" class="btn btn-success" type="button">Approve Response</button>{% endif %}
                        {% if response.status == "Pending" or response.status == "Approved" %}<button id="reject_response_btn" class="btn btn-danger" type="button">Reject Response</button>{% endif %}
                    </div>
                    <div class="col"></div>
                </div>
            </div>

            <div class="col-2">
            </div>
    </div>
    <br><br>
    <script src="{% static 'js/response_details.js' %}"></script>
{% endblock page %}