{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block page %}

<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col">
                <h3>
                    Task {{ task.id }}: {{ task.name }}
                </h3>
                <h5>Status: {{ task.status }}</h5> 
                <h5>Date Created: {{ task.date_created }}</h5>
                {% if task.status == "Open" %}<button id="close_task_btn" class="btn btn-danger">Close Flag</button>{% endif %}
                {% if task.status == "Closed" %}<button id="reopen_task_btn" class="btn btn-success">Reopen Flag</button>{% endif %}
                <fieldset>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="src_url" class="col-sm-1 font-weight-bold">Source URL</label>
                        <span>{{ task.src_url }}</span>
                        <div class="col-sm-1"></div>
                    </div>

                    <br>
                    <h4>Flag Responses:</h4>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            {% if task.status == "Closed" %}<span>Note: Your flag is closed.</span>{% endif %}
                            {% if responses_allowed == False %}<span>Note: All requested responses are been submitted.</span>{% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="num_responses" class="col-sm-2 font-weight-bold">Requested Responses</label>
                        <div class="col">
                            <span class="">{{ task.num_responses }}</span>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="num_responses" class="col-sm-2 font-weight-bold">Completed Responses</label>
                        <div class="col">
                            <span class="">{{ task.num_completed }}</span>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <div class="table-width">
                        <table class="task-response-table" id="task_response_table">
                            <thead>
                            <tr>
                                <th scope="col">Response ID</th>
                                <th scope="col">Credibility response</th>
                                <th scope="col">Other source</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for response in responses %}
                                <tr>
                                    <td scope="row">{{ response.id }} <a href="{% url 'sample_app:response_details' %}?token={{ token }}&event={{ event }}&task={{ task.id }}&response={{ response.id }}&tool={{ tool }}"><i class="primary fas fa-external-link-alt"></i></a></td>
                                    <td>{{ response.credible }}</td>
                                    <td>{{ response.other_src }}</td>
                                    <td>{{ response.created_by }}</td>
                                    <td>{{ response.date_created }}</td>
                                    <td>{{ response.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </fieldset>
                <br>
            </div>

            <div class="col-2">
            </div>
    </div>

    <script src="{% static 'js/task_details.js' %}"></script>
{% endblock page %}